.forecast-list {
  &__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; 
    background: linear-gradient(90deg, rgb(57, 140, 218) 3%, rgb(10, 80, 221) 61%, rgba(47,210,217,1) 100%);
    padding: 10px;
    height: 110px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;

    @media (max-width: 950px) { 
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

    @media (max-width: 780px) { 
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
    }

    margin-top: 15px;
  }
}

.logo-img {
    width: 140px;
    margin-right: 20px;
}